<!DOCTYPE html>

<html>
    <head>
        {{>header}}
        <link rel= "stylesheet" href = "../index.css">
        {{!-- <h2> {{title}} </h2> </head> --}}
    <body>
            {{!-- <h2>{{data}}</h2> --}}
            <br> <br> <br> <br>
            <form>
                <input placeholder = "Enter Location">
                <button> Submit </button>
            </form>
            <p id = "message1"></p>
            {{!-- <p id = "message1"></p> --}}
            {{>footer}}
        <script src= "app.js"></script>
    </body>
</html>